assets/_templateNodeRED.txt
[{"id":"60e59059.d39cc","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"527047ff.55e4b8","inputType":"evt","deviceId":"kinectDeviceMDR","applicationId":"","deviceType":"kinectDeviceType","eventType":"kinectEvent","commandType":"","format":"json","name":"IBM IoT Input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":267,"y":352,"wires":[["d7cea041.fe4d4"]]},{"id":"3ba2c366.378a0c","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"appsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App Initialize Context","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":330,"y":76,"wires":[["a7fbab3a.448c28"]]},{"id":"7ea90bb7.027364","type":"comment","z":"deb0d57.1c46528","name":"Context Definition","info":"","x":573,"y":30,"wires":[]},{"id":"a7fbab3a.448c28","type":"function","z":"deb0d57.1c46528","name":"Global Configure ","func":"\n/**\n * Función que inicializa todas las propiedades de la aplicación\n **/\nfunction InitializeConfigure() {\n    this.context.global.set(\"isDebug\",false);\n    this.context.global.set(\"timeDelay\",1000);\n    this.context.global.set(\"numPackets\",15);\n    this.context.global.set(\"numPacketsDebug\",100);\n    return msg;\n}\n\n\nInitializeConfigure();","outputs":1,"noerr":0,"x":574.2142333984375,"y":76.35715293884277,"wires":[[]]},{"id":"821195a6.56d3b8","type":"function","z":"deb0d57.1c46528","name":"Deserialize Packet Async","func":"\n/**\n * Función que obtiene el payload del paquete\n **/\n function GetPacket(_msg) {\n     var packetID = _msg.payload.packetID;\n     \n     var isDebug = this.context.global.get(\"isDebug\");\n     if(isDebug)\n        node.warn(\"getPacket \"+packetID);\n        \n     return packetID;\n }\n\n/** \n * Función que devuelve si hay un usuario en linea\n **/\nfunction IsUserOnline(_msg){\n    var user = _msg.payload.user;\n    \n     var isDebug = this.context.global.get(\"isDebug\");\n     if(isDebug)\n        node.warn(\"user \"+user);\n        \n    return (user != null || user != undefined || user != \"\");\n}\n\nfunction CreatePropertyPayload(value){\n    var obj = { payload : value };\n    \n    var isDebug = this.context.global.get(\"isDebug\");\n     if(isDebug)\n        node.warn(\"obj: \"+obj.payload);\n     \n     return obj;\n}\n\n/**\n * Función Template Pattern - DSL syntax\n * {} => Es la creación de un objecto vacio\n **/\nfunction DeserializePacket_Main() {\n    return node.send(\n        CreatePropertyPayload(\n            GetPacket(msg)\n        )\n    );\n     \n}\n \nreturn DeserializePacket_Main();","outputs":"1","noerr":0,"x":701,"y":468,"wires":[["5eeadc02.ceedf4"]]},{"id":"778ad00e.c4f33","type":"debug","z":"deb0d57.1c46528","name":"Message Error","active":true,"console":"false","complete":"true","x":1158,"y":458,"wires":[]},{"id":"69f19703.d71888","type":"ui_text","z":"deb0d57.1c46528","group":"b2ad1aa1.f28258","order":2,"width":0,"height":0,"name":"","label":"Packet ID","format":"{{msg.payload}}","layout":"row-spread","x":1142,"y":510,"wires":[]},{"id":"6e8091b4.668f4","type":"ui_template","z":"deb0d57.1c46528","group":"b2ad1aa1.f28258","name":"Dynamic LoadScriptAsync","order":8,"width":0,"height":0,"format":"<script>\n(function(scope) {\n \n     function loadScript(url, callback) {\n    \n        var script = document.createElement(\"script\")\n        script.type = \"text/javascript\";\n    \n        if (script.readyState) {     \n            script.onreadystatechange = function () {\n                if (script.readyState == \"loaded\" || script.readyState == \"complete\") {\n                    script.onreadystatechange = null;\n                    callback();\n                }\n            };\n        } \n        else { \n            script.onload = function () {\n                 var timer = setInterval(function() {\n                 clearInterval(timer);\n                 callback();\n                 },100);\n            };\n        }\n\n        script.src = url;\n        document.getElementsByTagName(\"head\")[0].appendChild(script);\n    }\n\n     loadScript(\"https://tonejs.github.io/build/Tone.js\", function () {\n        \n        var loaded = 'Tone loaded';\n        console.log(loaded);\n     \n        window.tone = new Tone.Synth().toMaster();\n        tone.triggerAttackRelease(\"C4\", \"8n\");\n     \n     \n     \t\twindow.tone = new Tone.Oscillator({\n     \t\t\t\"frequency\" : 440,\n     \t\t\t\"volume\" : -10\n     \t\t}).toMaster();\n     \t\t\n     \t//\tconsole.log(window.tone);\n     \t\t\n     \t\twindow.toneMaster = Tone.Master;\n     \t\t\n     //\t\tconsole.log(window.toneMaster);\n     });\n \n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":593.142822265625,"y":122.71429443359375,"wires":[[]]},{"id":"d7cea041.fe4d4","type":"switch","z":"deb0d57.1c46528","name":"Validate Packet","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":461,"y":353,"wires":[["668f33cc.d8a8ec"],["bef2b30c.e9b3d"]]},{"id":"bef2b30c.e9b3d","type":"function","z":"deb0d57.1c46528","name":"Throttling Async","func":"/**\n * Función que devuelve el Packet ID del cliente Kinect\n **/\nfunction GetPatcketID(){\n    return msg.payload.packetID;\n}\n\n/**\n * Función que muestra por pantalla el envío del módulo X de los paquetes totales hasta el momento\n **/ \nfunction NumPacketsDebug(packetID,_node) {\n    var numPacketsDebug = this.context.global.get(\"numPacketsDebug\");\n    \n    if(packetID % numPacketsDebug == 0) \n     _node.warn(\"Total Packet Id : \"+packetID);\n}\n\n/**\n * Función que salvaguarda el envío de paquetes del cliente a la aplicación Node-RED\n * Filtra los paquetes enviados \n **/\nfunction ThrottlingAsync(packetID,_node) {\n    var numPackets = this.context.global.get(\"numPackets\");\n    var isDebug = this.context.global.get(\"isDebug\");\n    \n    if(packetID % numPackets == 0){\n        if(isDebug)\n            _node.warn(\"Throttling Async Packet ID\"+packetID);\n            \n        return _node.send(msg);\n    }\n}\n\n/**\n * Función Template Pattern\n **/\nfunction Throttling_Main() {\n    var packetId = GetPatcketID();\n    NumPacketsDebug(packetId, node);\n    ThrottlingAsync(packetId, node);\n}\n\n\nreturn Throttling_Main();","outputs":1,"noerr":0,"x":474,"y":468,"wires":[["821195a6.56d3b8"]]},{"id":"668f33cc.d8a8ec","type":"debug","z":"deb0d57.1c46528","name":"Message Error","active":true,"console":"false","complete":"true","x":707,"y":273,"wires":[]},{"id":"7711209f.f9ef8","type":"ui_text","z":"deb0d57.1c46528","group":"8079660f.d45af8","order":0,"width":0,"height":0,"name":"Profile Packet","label":"","format":"","layout":"row-center","x":1162,"y":382,"wires":[]},{"id":"5eeadc02.ceedf4","type":"switch","z":"deb0d57.1c46528","name":"Validate Packet","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":945,"y":468,"wires":[["778ad00e.c4f33"],["69f19703.d71888"]]},{"id":"d21648ee.970758","type":"comment","z":"deb0d57.1c46528","name":"@Autor: Victor Bolinches ","info":"","x":307,"y":559,"wires":[]},{"id":"59e7e90f.354688","type":"comment","z":"deb0d57.1c46528","name":"IoT Watshon Hackathon","info":"","x":293,"y":295,"wires":[]},{"id":"527047ff.55e4b8","type":"ibmiot","z":"","name":"iot key Hackathon","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b2ad1aa1.f28258","type":"ui_group","z":"","name":"Profile","tab":"5121217d.7a6e8","order":1,"disp":true,"width":"5"},{"id":"8079660f.d45af8","type":"ui_group","z":"","name":"Github API","tab":"a246ab2a.2df498","disp":true,"width":"6"},{"id":"5121217d.7a6e8","type":"ui_tab","z":"","name":"Template","icon":"dashboard"},{"id":"a246ab2a.2df498","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]